label{
    font-family: 'Poppins';
}
.poppins{
    font-family: 'Poppins';
}
.bg-img{
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    background-position: left;
}
.grayBox {
	background-color: #F8F8F8;
}
.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 10px;
    margin-top: 20px;
}
.pt45{padding-top:45px;}

/* Customize the label (the container) */
.container-check {
	display: block;
	position: relative;
	padding-left: 38px;
	margin-bottom: 8px;
	cursor: pointer;
	font-size: 17px;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
	.container-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
	.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #ecf5f9;
	border-radius: 5px;
	border: solid rgb(179, 177, 177) 2px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
	background-color: rgb(190, 190, 190);
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
	border: solid rgb(10, 76, 199) 2px;
	border-radius: 5px;
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


@media (max-width: 576px) {
    .bg-img{
        background-repeat: no-repeat;
        background-position:center;
        background-attachment:fixed;
        background-size:cover;
        background-position: top;
    }
}



/* Tracking Vertical Point */
.events li { 
	display: flex; 
	color: #999;
	font-size: 10pt;
}

.events time { 
	position: relative;
	padding: 0 1.5em;  
}

.events .timenotactive::after { 
	content: "";
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	transform: translateX(50%);
	border-radius: 50%;
	background: rgb(192, 192, 192);
	border: 1px #ccc solid;
	width: 1.8em;
	height: 1.8em;
}

.events .timeactive::after { 
	content: "";
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	transform: translateX(50%);
	border-radius: 50%;
	background: #27aa80;
	border: 1px #27aa80 solid;
	width: 1.8em;
	height: 1.8em;
}


.events span {
	padding: 0 1.5em 1.5em 1.5em;
	position: relative;
}

.events span::before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	height: 100%;
	border-left: 1px #ccc solid;
}

.events strong {
	display: block;
	font-weight: bolder;
}

.events { margin-top: 1em; padding-left: 10px; width: 100%; }
.events, 
.events *::before, 
.events *::after { box-sizing: border-box; font-family: arial; }

.cut-text { 
	text-overflow: ellipsis;
	overflow: hidden; 
	max-height: 1.5em; 
	white-space: nowrap;
}


@media (min-width: 1200px) { 
    .events li { 
		display: flex; 
		color: #999;
		font-size: 13pt;
	}
}
